* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    max-width: 100%;
}


/* Utilities */
/* Utilities */
/* Utilities */

.blue {
    background-color: #3982F5;
}

.d-flex {
    display: flex;
}


/* Main */
/* Main */
/* Main */

