* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    width: 100%;
}

/* Utilities */
/* Utilities */
/* Utilities */

.blue {
    background-color: #3982F5;
}

/* Main */
/* Main */
/* Main */

header {
    height: 75px;
}